body {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    background-color: darkgrey;
    color: black
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {

    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

input[type=submit] {
    border: none;
    padding: 3px 5px;
    background-color: black;
    color: white
}

div#canvas,
div#color {
    display: inline-block;
    margin: auto;
}

